<h1 class="col-md-3 ms-5 mb-3 p-3 bg-dark text-white">Hardware App</h1>
<nav>
  <div class="ms-5 mb-3 btn btn-secondary">
    <a routerLink="/hardware" style="text-decoration: none; color: white; font-weight: bold">Hardware List</a>
  </div>
  <br><hr style="width: 30%;">
  <div class="ms-5 mb-3 btn btn-secondary">
    <a routerLink="/review" style="text-decoration: none; color: white; font-weight: bold">Review List</a>
  </div>
</nav>
<router-outlet></router-outlet>
<!--<app-hardware></app-hardware>-->