<div *ngIf="hardware" class="row col-md-3 ms-5 mt-4">
  <ul class="list-group">
    <li class="list-group-item list-group-item-info">{{hardware.name}} - detalji hardware-a</li>
    <li class="list-group-item">Ime: {{hardware.code}}</li>
    <li class="list-group-item">Ime: {{hardware.name}}</li>
    <li class="list-group-item">Cijena: {{hardware.price}}</li>
    <li class="list-group-item">Cijena: {{hardware.hardwareType}}</li>
    <li class="list-group-item">Cijena: {{hardware.amount}}</li>
  </ul>
</div>
