<div class="row col-md-4 ms-5">
  <h2 class="mb-4"> Popis hardware-a</h2>
  <ul class="hardwares list-group mb-2">
    <div>
      <li *ngFor="let hardware of hardwares" (click)="onSelect(hardware)"
          class="list-group-item list-group-item-action list-group-item-dark">
        <a style="text-decoration: none; color: black" [routerLink]="['details', hardware.code]">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cpu me-3"
               viewBox="0 0 16 16">
            <path
              d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
          </svg>
          <span>{{hardware.code}} - </span>
          <span class="me-2">{{hardware.name}}</span>
          <span>${{hardware.price}}</span>
        </a>
        <button type="button" class="btn btn-outline-dark float-end" (click)="delete(hardware)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: black;"
               class="bi bi-trash float-end"
               viewBox="0 0 16 16">
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        </button>
      </li>
    </div>
  </ul>
  <form>
    <div class="mb-3">
      <label for="code">Code: </label>
      <input type="number" class="form-control" name="code" id="code" #code placeholder="Code - must be a number"
             required>
    </div>
    <div class="mb-3">
      <label for="name">Name: </label>
      <input type="text" class="form-control" name="name" id="name" #name placeholder="Product name" required>
    </div>
    <div class="mb-3">
      <label for="price">Price: </label>
      <input type="number" class="form-control" name="name" id="price" #price placeholder="Product price" required>
    </div>
    <div class="mb-3">
      <label for="hardwareType">Hardware Type: </label>
      <select class="form-select" aria-label="Default select example" #hardwareType name="hardwareType"
              id="hardwareType">
        <option *ngFor="let type of hardwareTypes" [value]=type>{{type}}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="amount">Amount: </label>
      <input type="number" class="form-control" name="amount" id="amount" placeholder="Number in storage" #amount
             required>
    </div>
    <button class="btn btn-outline-dark mt-2 mb-3"
            (click)="add(code.value, name.value, +price.value, hardwareType.value, +amount.value)">Add Hardware!
    </button>
  </form>
</div>
<router-outlet></router-outlet>
<!--<app-hardware-detail [hardware]="selectedHardware"></app-hardware-detail>-->
