<h2>{{'newHardwareForm.title' | translate}}</h2>
<div>
  <div>
    <label>{{'newHardwareForm.code' | translate}}:
      <div>
        <input #code class="form-control" />
      </div>
    </label>
  </div>
  <div>
    <label>{{'newHardwareForm.name' | translate}}:
      <div>
        <input #name class="form-control" />
      </div>
    </label>
  </div>
  <div>
    <label>{{'newHardwareForm.type' | translate}}:
      <div>
        <select #type class="form-select">
          <option value="CPU">CPU</option>
          <option value="GPU">GPU</option>
          <option value="MBO">MBO</option>
          <option value="RAM">RAM</option>
          <option value="STORAGE">Pohrana podataka</option>
          <option value="OTHER">Ostalo</option>
        </select>
      </div>
    </label>
  </div>
  <div>
    <label>{{'newHardwareForm.amount' | translate}}:
      <div>
        <input type="number" #stock class="form-control" />
      </div>
    </label>
  </div>
  <div class="mb-2">
    <label>{{'newHardwareForm.price' | translate}}:
      <div>
        <input type="number" #price class="form-control" />
      </div>
    </label>
  </div>

  <button
    (click)="add(code.value, name.value, type.value, +stock.value, +price.value); code.value=''; name.value=''; type.value='CPU'; stock.value=''; price.value=''"
    class="btn btn-danger me-2">
    {{'newHardwareForm.commitButton' | translate}}
  </button>

  <button (click)="goBack()" class="btn btn-danger">{{'newHardwareForm.back' | translate}}</button>
</div>