<div class="row col-md-3 ms-5">
  <h2 class="mb-4"> Popis hardware-a</h2>
  <ul class="hardwares list-group mb-5">
    <a [routerLink]="['details', selectedHardware?.code]">
      <li *ngFor="let hardware of hardwares" (click)="onSelect(hardware)"
          [class.selected]="hardware === selectedHardware"
          class="list-group-item list-group-item-action list-group-item-dark">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cpu"
             viewBox="0 0 16 16">
          <path
            d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
        </svg>
        <span class="ms-3">{{hardware.name}}</span> {{hardware.price}}
      </li>
    </a>
  </ul>
  <form>
    <div>
      <label for="code">Code: </label>
      <input type="text" class="form-control" name="code" id="code" #code required>
    </div>
    <div>
      <label for="name">Name: </label>
      <input type="text" class="form-control" name="name" id="name" #name required>
    </div>
    <div>
      <label for="price">Price: </label>
      <input type="text" class="form-control" name="name" id="price" #price required>
    </div>
    <div>
      <label for="hardwareType">Hardware Type: </label>
      <input type="text" class="form-control" name="hardwareType" #hardwareType id="hardwareType" required>
    </div>
    <div>
      <label for="amount">Amount: </label>
      <input type="text" class="form-control" name="amount" id="amount" #amount required>
    </div>
    <button class="btn btn-primary mt-2"
            (click)="add(code.value, name.value, +price.value, hardwareType.value, +amount.value)">Add Hardware!
    </button>
  </form>
</div>
<router-outlet></router-outlet>
<!--<app-hardware-detail [hardware]="selectedHardware"></app-hardware-detail>-->
